<h1>Home page</h1>
<div class="homepageDescription">
    <p>Team Members

Mcgregor Cooper, Team Leader and Deadline Enforcer
William Brennan, Creativity Officer and Proofreader

Project Name: Observatory Constellation Management System

Overview
 The Observatory Constellation Management System manages the Stars and Constellations that are displayed during the Shows at the Sorting Star Observatory.
  Currently, our dedicated crew of 10 members are having trouble making Shows that can include the 88 Constellations and over millions of observatory visible Stars in the night sky.
   The current method used to keep track of the timetables is a paper filing system. This however has come with multiple issues such as the shifting times that Constellations are viewable from. For example, certain constellations are only viewable in one hemisphere for half of the year, and change visibility from day to day.
    Introducing a website with a backend database can not only help to streamline the ability for employees to find the information they need for each Show. It can also help to streamline the process of getting tickets and finding the Shows that Customers have bought tickets to.
     This will become extremely helpful as the Show size for the observatory has increased over the years and the max recorded Show size is 100 people!
.</p>
</div>